# Build results
bin/
obj/
out/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VS Code
.idea/
.vscode/

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
artifacts/

# Logs
*.log

# System
[Tt]humbs.db
[Dd]esktop.ini